{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/group-info.css' %}">
{% endblock %}

{% block title %}{{object.name}}{% endblock%}

{% block content %}

<div class="group-info-card" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    {% if object.avatar %}
    <img
    src="{{ object.avatar.url }}"
    alt="Avatar"
    class="profile-avatar-preview"
    >
    {% endif %}
    <div class="group-header">
        <h2>{{ group.name }}</h2>
        <span class="group-type">{{ group.get_type_display }}</span>
    </div>
    

    <div class="members-header">
        <h3>Members</h3>
        <span>{{ group.members.count }}</span>
    </div>

    <div class="members-list">
        {% for member in members_info %}
            <div class="member-item" id="member-{{member.id}}">

                <div class="member-avatar">
                    
                    {% if member.user.avatar %}
                        <img
                        src="{{ member.user.avatar.url }}"
                        alt="Avatar"
                        class="profile-avatar-preview"
                        >
                    {% endif %}
                </div>

                <div class="member-info">
                    <a href="{% url 'profile' member.user.username %}">
                        {{ member.user.username }}
                    </a>
                    {% if member.user == request.user %}
                        <span class="member-role">You</span>
                    {% endif %}
                    {% if member.is_creator %}
                        <span class="member-role">Creator</span>
                    {% elif member.is_admin %}
                        <span class="member-role">Admin</span>
                    {% endif %}

                </div>
            
            </div>
        {% endfor %}
    </div>

    {% if current_groupmember.is_admin or current_groupmember.is_creator %}
    <a href="{% url 'group-edit' group.uuid %}" class="back-button">
        Edit group
    </a>
    {% endif %}

    <a href="{% url 'group' group.uuid %}" class="back-button">
        Return to chat
    </a>

</div>

{% endblock %}