{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/edit.css' %}">
{% endblock %}

{% block title %}{{user}}{% endblock%}
{% block content %}
<div style="width: 25vw; margin: auto; margin-top: 10vh;">


        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    <img
                        src="{{ object.avatar.url }}"
                        alt="Avatar"
                        class="profile-avatar-preview"
                    >
                    
                    {% for field in form %}
                    
                    {% if field.errors %}
                        <div class="form-error">
                            {% for error in field.errors %}
                                <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div data-mdb-input-init class="form-outline mb-4">
                        {{field}}
                        <label class="form-label" for={{field.id_for_label}}>{{field.label}}</label>
                    </div>
                    
                    {% endfor %}
                    <button type="submit"
                            class="btn btn-primary btn-block mb-3">change</button>
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}