{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/password_edit.css' %}">
{% endblock %}

{% block title %}changed password{% endblock%}


{% block content %}
<div class="auth-page">
    <div class="auth-card">

        <h2>Change password</h2>


        <form method="post" class="auth-form">
            {% csrf_token %}

            <div class="form-group">
                {{ form.as_p }}

                {% if form.password.errors %}
                    <div class="auth-errors">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
            </div>

            <button type="submit" class="auth-button">
                change
            </button>
        </form>

    </div>
</div>


{% endblock %}