{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/password_edit.css' %}">
{% endblock %}

{% block title %}successfully changed password{% endblock%}


{% block content %}

<div class="auth-page">
    <div class="auth-card">

        <div class="auth-success-icon">✓</div>

        <h2>Password changed</h2>

        <p class="auth-description">
            Your password has been successfully changed.
        </p>

        <a href="{% url 'log' %}" class="auth-link">
            Return to login
        </a>

    </div>
</div>

{% endblock %}