{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block title %}{{object.username}}{% endblock%}
{% block content %}

<div class="profile-card">
    <ul class="list-group profile-list">

        <li class="list-group-item profile-item">
            <span class="field-value">{{ object.username }}</span>
            <span class="type-field">Username</span>
        </li>

        {% if object.first_name %}
        <li class="list-group-item profile-item">
            <span class="field-value">{{ object.first_name }}</span>
            <span class="type-field">First Name</span>
        </li>
        {% endif %}

        {% if object.last_name %}
        <li class="list-group-item profile-item">
            <span class="field-value">{{ object.last_name }}</span>
            <span class="type-field">Last Name</span>
        </li>
        {% endif %}

    </ul>
    {% if request.user == object %}
    <a href="{% url 'edit' %}" class="edit-profile-btn">
        Change data
    </a>
    {% endif %}
</div>

{% endblock %}