{% extends 'base.html' %}
{% load static %}

{% block title %}Registration{% endblock%}
{% block content %}
<div style="width: 25vw; margin: auto; margin-top: 10vh;">
    <ul class="nav nav-pills nav-justified mb-3" id="ex1">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'log' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'reg' %}">Register</a>
        </li>
    </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="pills-register" role="tabpanel" aria-labelledby="tab-register">
                <form method="post">
                    {% csrf_token %}


                    {% for field in form %}

                    {% if field.name != "data_entry" %}
                    <div data-mdb-input-init class="form-outline mb-4">
                        {{field}}
                        <label class="form-label" for={{field.id_for_label}}>{{field.label}}</label>
                    </div>
                    {% else %}

                    <div class="form-check d-flex justify-content-center mb-4">
                        {{field}}

                        <label class="form-check-label" for="{{field.name}}">
                            {{field.label}}
                        </label>
                    </div>
                    {% endif%}
                    {% endfor %}
                    <input type="submit" data-mdb-button-init data-mdb-ripple-init
                           class="btn btn-primary btn-block mb-3">
                </form>
            </div>
        </div>
    </div>
</div>
{%endblock%}