{% extends "base.html" %}
{% load static %}
{% block title%}
Результаты по поиску "{{search_username}}"
{% endblock%}

{% block style %}
<link rel="stylesheet" href="{% static 'css/accounts.css' %}">
{% endblock %}
{% block content %}

<div class="accounts-search">

    {% if user_list %}

        {% for user in user_list %}

            <div class="user-messege search-user">

                <img
                    class="avatar-user"
                    src="{% static 'image/Bez_foto_7.jpg' %}"
                    alt="avatar"
                >

                <div class="search-user-info">
                    <h3 class="name-user">
                        {{ user.first_name }} {{ user.last_name }}
                    </h3>

                    <p class="last-message text-truncate">
                        @{{ user.username }}
                    </p>
                </div>

                <form method="POST" action="{% url 'user' user.username %}">
                    {% csrf_token %}
                    <button type="submit" class="btn mess-btn">
                        Написать
                    </button>
                </form>

            </div>

        {% endfor %}

    {% else %}

        <p class="search-empty">
            Пользователь с таким username не найден
        </p>

    {% endif %}

</div>

{% endblock %}
