{% extends "base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/create-group.css' %}">
{% endblock %}
{% block title %}
Создать группу
{% endblock%}

{% block content %}
<div class="form-create-group">

    <form method="post">
        {% csrf_token %}

        {{ form.non_field_errors }}

        {% for field in form %}
            <div class="tab-pane">
                <label class="form-label" for="{{ field.id_for_label }}">
                    {{ field.label }}
                </label>

                {{ field }}

                {% if field.errors %}
                    <div class="text-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-primary w-100">
            Create
        </button>
    </form>

</div>

{% endblock %}