{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/group-info.css' %}">
{% endblock %}

{% block title %}{{object.name}}{% endblock%}

{% block content %}

<div class="group-info-card" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

    <div class="group-header">
        <h2>{{ group.name }}</h2>
        <span class="group-type">{{ group.get_type_display }}</span>
    </div>

    <div class="members-header">
        <h3>Members</h3>
        <span>{{ group.members.count }}</span>
    </div>

    <div class="members-list">
        {% for member in members_info %}
            <div class="member-item">

                <div class="member-avatar">
                    {{ member.user.username|first|upper }}
                </div>

                <div class="member-info">
                    <a href="{% url 'profile' member.user.username %}">
                        {{ member.user.username }}
                    </a>
                    {% if member.user == request.user %}
                        <span class="member-role">You</span>
                    {% endif %}
                    {% if member.is_creator %}
                        <span class="member-role">Creator</span>
                    {% elif member.is_admin %}
                        <span class="member-role">Admin</span>
                    {% endif %}

                </div>
                {% if member.user == request.user %}
                <button hx-delete="{% url 'delete-group-member' member.id %}"
                    hx-confirm="Are you sure you want to leave the chat?"

                >go out</button>

                {% elif not member.is_creator and current_groupmember.is_creator %}

                <button hx-delete="{% url 'delete-group-member' member.id %}"
                    hx-confirm="Are you sure you want to delete the user? "

                >delete user</button>

                {% elif current_groupmember.is_admin or current_groupmember.is_creator and not member.is_admin  %}
                <button hx-delete="{% url 'delete-group-member' member.id %}"
                    hx-confirm="Are you sure you want to delete the user? "

                >delete user</button>

                {% endif %}
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'group' group.uuid %}" class="back-button">
        Return to chat
    </a>

</div>

{% endblock %}