<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <title>{% block title %}{% endblock %}</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
    />
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/general.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    {% block style %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid div-nav">
    <a class="navbar-brand" href="#">Messenger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Главная</a>
        </li>

      </ul>
      <form class="d-flex" role="search">
            <div class="input-group">
            <span class="input-group-text" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <img class="avatar-user" style="margin-left: 1vw;" src="{% static 'image/Bez_foto_7.jpg' %}" >
        </a>
      </form>
    </div>
  </div>
  </nav>
    {% block content %}
    {% endblock%}
<script type="text/javascript" src="{% static 'js/mdb.umd.min.js' %}"></script>
<script type="text/javascript"></script>
</body>

</html>
